<configuration scan="true" scanPeriod=" 5 seconds" debug="false">
    <jmxConfigurator/>

    <!--<property name="LOG_PATH" value="${user.home}/logs/dsp/"/>-->

    <!--<newRule pattern="*/appender-ref"  actionClass="ch.qos.logback.core.joran.action.AppenderRefAction"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{56} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.github.nezha.httpfetch" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="INFO">
        <appender-ref ref="ROOT"/>
        <appender-ref ref="STDOUT" />
    </root>

</configuration>